@media print {
  body * {
    visibility: hidden;
  }
  #neuron-doc-print,
  #neuron-doc-print * {
    visibility: visible;
  }
  #neuron-doc-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    color: #000 !important;
  }
  #neuron-doc-print * {
    color: #000 !important;
  }
  .no-print {
    display: none !important;
  }
  @page {
    size: A4;
    margin: 15mm 15mm 15mm 15mm;
  }
}
